@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap");
body {
  margin: 0;
  background: #e9e7e7;
}

header {
  background: url(../assets/bg-hero.png) no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 746px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
header .logo-de-base {
  position: absolute;
  left: 30px;
  top: 50px;
  margin: 0;
}
header h2 {
  color: #ffd15b;
  max-width: 890px;
  font-family: "Anton", sans-serif, sans-serif;
  font-size: 44px;
  font-weight: 400;
}

main {
  font-family: "Anton", sans-serif, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.search-bar {
  display: flex;
  position: relative;
  margin: 0 10px;
}

.input-recherche {
  color: #7a7a7a;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 70px;
  padding-left: 35px;
}
.input-recherche::placeholder {
  font-family: "Manrope", sans-serif;
}

.icon-search {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 11px;
  right: 10px;
  cursor: pointer;
}

.errorMessage {
  display: flex;
  font-size: xx-large;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  header {
    height: 600px;
  }
  header h2 {
    font-size: 38px;
    margin: 30px 10px 30px 10px;
  }
  .input-recherche {
    padding-left: 20px;
    font-size: 13px;
    height: 50px;
  }
  .icon-search {
    width: 40px;
    height: 40px;
    top: 7px;
    right: 7px;
  }
  .errorMessage {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
.all-recette-container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  column-gap: 50px;
}

.recette-card {
  width: 380px;
  height: 730px;
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}
.recette-card__image {
  height: 250px;
  background: #c7bebe;
  border-radius: 10px 10px 0 0;
}
.recette-card__photo {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.recette-card__div-time {
  position: absolute;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background-color: #ffd15b;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 26px;
  right: 22px;
  top: 21px;
}
.recette-card__p-time {
  font-size: 12px;
}
.recette-card__text-container {
  padding: 25px;
}
.recette-card__title {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recette-card__title h2 {
  padding: 0;
  font-size: 18px;
  margin: 0px;
  font-weight: 400;
}
.recette-card__title-min {
  color: #7a7a7a;
  font-weight: 700;
  font-size: 12px;
  margin: 27px 0 15px 0;
}
.recette-card__ingredients-instruction {
  font-family: "Manrope", sans-serif, serif;
  font-size: 14px;
}
.recette-card__ingredient-container {
  display: grid;
  height: 180px;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  justify-content: flex-start;
}
.recette-card__ingredient-list {
  width: 100%;
  list-style-type: none;
  padding: 0px;
  margin: 0;
}
.recette-card__ingredient-item {
  font-size: 14px;
  color: #7a7a7a;
}
.recette-card__ingredient-item-bold {
  font-weight: 500;
  color: black;
}
.recette-card__description {
  width: 100%;
  margin: 0;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 1320px) {
  .all-recette-container {
    justify-content: space-evenly;
    row-gap: 40px;
  }
}
@media screen and (max-width: 500px) {
  .recette-card {
    width: 340px;
  }
}
.tags-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  margin: 20px;
}

.tags-div {
  display: flex;
  align-items: flex-start;
  column-gap: 66px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.tag-for-recette-number {
  display: flex;
  align-items: center;
  margin-top: 13px;
  font-size: 21px;
  font-weight: 400;
}
.tag-for-ingredients {
  position: relative;
  flex-wrap: wrap;
  border-radius: 11px;
  background-color: white;
  transition: transform 0.5s ease;
}
.tag-for-ingredients-titre {
  cursor: pointer;
  width: 162px;
  padding: 17px;
}
.tag-for-ingredients-titre::after {
  font-family: "Font Awesome 6 Free", serif;
  font-weight: 900;
  content: "\f078";
  font-size: 16px;
  position: absolute;
  top: 19px;
  right: 15px;
  transition: 350ms ease-out;
  rotate: var(--deg, 0deg);
}

.container-all-ingredients {
  width: 195px;
  margin-top: 0px;
  max-height: 315px;
  margin-right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container-all-ingredients::-webkit-scrollbar {
  background-color: rgba(146, 64, 64, 0);
  width: 5px;
}
.container-all-ingredients::-webkit-scrollbar-thumb {
  background-color: rgb(133, 133, 133);
  border-radius: 100vmax;
}

.hide {
  display: none;
}

.div-search-bar-mini {
  position: relative;
}

.search-bar-mini {
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #7a7a7a;
  margin: 0 17px 10px 17px;
  width: 155px;
  height: 30px;
}

.icon-search-mini {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.ul-ingredients,
.ul-appareils,
.ul-ustensiles {
  list-style-type: none;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
}

.li-ingredient,
.li-appareils,
.li-ustensiles {
  padding: 7px 17px 7px 17px;
  cursor: pointer;
}
.li-ingredient:hover,
.li-appareils:hover,
.li-ustensiles:hover {
  background-color: #ffd15b;
}

.selected-tags-container {
  display: flex;
  margin: 20px;
  column-gap: 66px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: black;
}

.selected-tags-for {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 196px;
  max-width: 196px;
}

.my-tag {
  display: flex;
  align-items: center;
  column-gap: 40px;
  background-color: #ffd15b;
  padding: 17px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.fa-xmark {
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .tags-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
  }
  .tags-div {
    display: block;
    margin-top: 15px;
  }
  .tag-for-recette-number {
    margin-top: 0;
    font-size: 30px;
  }
  .tag-for-ingredients {
    margin-bottom: 20px;
  }
  .selected-tags-container {
    margin: 0px;
    flex-direction: column;
    align-items: center;
  }
  .selected-tags-for {
    display: block;
  }
  .my-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
