body {
    margin: 0;
    background: #e9e7e7;
}

header {
    background: url(../../assets/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png) no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 746px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    & .logo-de-base {
        position: absolute;
        left: 30px;
        top: 50px;
        margin: 0;
    }
    & h2 {
        color: #FFD15B;
        max-width: 890px;
        font-family: $fontPrincipale, sans-serif;
        font-size: 44px;
        font-weight: 400;
    }
}

main {
    font-family: $fontPrincipale, sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

.search-bar {
    display: flex;
    position: relative;
    margin: 0 10px;
}

.input-recherche {
    color: #7A7A7A;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 70px;
    padding-left: 35px;
    &::placeholder {
        font-family: $fontSecondaire;
    }
}

.icon-search {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 11px;
    right: 10px;
    cursor: pointer;
}

.errorMessage {
    display: flex;
    font-size: xx-large;
    justify-content: center;
}

@media screen and (max-width : 500px) {
    header {
        height: 600px;
        & h2 {
            font-size: 38px;
            margin: 30px 10px 30px 10px;
        }
    }
    .input-recherche {
      padding-left: 20px;
      font-size: 13px;
      height: 50px;
    }
    .icon-search {
        width: 40px;
        height: 40px;
        top: 7px;
        right: 7px;
    }
    .errorMessage {
        font-size: 22px;
        margin-bottom: 20px;
    }
  }