.all-recette-container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  column-gap: 50px;
}

.recette-card {
  width: 380px;
  height: 730px;
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  &__image {
    height: 250px;
    background: #c7bebe;
    border-radius: 10px 10px 0 0;
  }
  &__photo {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  &__div-time {
    position: absolute;
    font-family: $fontSecondaire;
    font-weight: 400;
    background-color: #ffd15b;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 26px;
    right: 22px;
    top: 21px;
  }
  &__p-time {
    font-size: 12px;
  }
  &__text-container {
    padding: 25px;
  }
  &__title {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h2 {
      padding: 0;
      font-size: 18px;
      margin: 0px;
      font-weight: 400;
    }
    &-min {
        color: #7A7A7A;
        font-weight: 700;
        font-size: 12px;
        margin: 27px 0 15px 0;
    }
  }
  
  &__ingredients-instruction {
    font-family: $fontSecondaire, serif;
    font-size: 14px;
  }
  &__ingredient-container {
    display: grid;
    height: 180px;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    justify-content: flex-start;
  }
  &__ingredient-list {
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0;
  }
  &__ingredient-item {
    font-size: 14px;
    color: #7A7A7A;
    &-bold {
      font-weight: 500;
      color: black;
    }
  }
  &__description {
    width: 100%;
    margin: 0;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media screen and (max-width : 1320px) {
  .all-recette-container {
    justify-content: space-evenly;
    row-gap: 40px;
  }
}
@media screen and (max-width : 500px) {
  .recette-card {
    width: 340px;
  }
}